GPConsumer/Service References/GPOrderServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GPOrder" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/GPLib.DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGPOrder_AddOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:AddOrder" />
  </wsdl:message>
  <wsdl:message name="IGPOrder_AddOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IGPOrder_GetAllOrders_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllOrders" />
  </wsdl:message>
  <wsdl:message name="IGPOrder_GetAllOrders_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllOrdersResponse" />
  </wsdl:message>
  <wsdl:message name="IGPOrder_GetCurrentLocations_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentLocations" />
  </wsdl:message>
  <wsdl:message name="IGPOrder_GetCurrentLocations_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentLocationsResponse" />
  </wsdl:message>
  <wsdl:message name="IGPOrder_GetCurrentLocation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentLocation" />
  </wsdl:message>
  <wsdl:message name="IGPOrder_GetCurrentLocation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentLocationResponse" />
  </wsdl:message>
  <wsdl:message name="IGPOrder_SetCurrentLocation_InputMessage">
    <wsdl:part name="parameters" element="tns:SetCurrentLocation" />
  </wsdl:message>
  <wsdl:message name="IGPOrder_SetCurrentLocation_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetCurrentLocationResponse" />
  </wsdl:message>
  <wsdl:message name="IGPOrder_GetNewOrders_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNewOrders" />
  </wsdl:message>
  <wsdl:message name="IGPOrder_GetNewOrders_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNewOrdersResponse" />
  </wsdl:message>
  <wsdl:message name="IGPOrder_UpdateDriverLocation_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDriverLocation" />
  </wsdl:message>
  <wsdl:message name="IGPOrder_UpdateDriverLocation_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDriverLocationResponse" />
  </wsdl:message>
  <wsdl:message name="IGPOrder_GetOrderStatusesList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderStatusesList" />
  </wsdl:message>
  <wsdl:message name="IGPOrder_GetOrderStatusesList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderStatusesListResponse" />
  </wsdl:message>
  <wsdl:message name="IGPOrder_SetOrderDeliveryDriverId_InputMessage">
    <wsdl:part name="parameters" element="tns:SetOrderDeliveryDriverId" />
  </wsdl:message>
  <wsdl:message name="IGPOrder_SetOrderDeliveryDriverId_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetOrderDeliveryDriverIdResponse" />
  </wsdl:message>
  <wsdl:message name="IGPOrder_UpdateOrderStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateOrderStatus" />
  </wsdl:message>
  <wsdl:message name="IGPOrder_UpdateOrderStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateOrderStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IGPOrder_GetCurrentLocationsByDriverIdDate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentLocationsByDriverIdDate" />
  </wsdl:message>
  <wsdl:message name="IGPOrder_GetCurrentLocationsByDriverIdDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentLocationsByDriverIdDateResponse" />
  </wsdl:message>
  <wsdl:message name="IGPOrder_CreateOrderStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateOrderStatus" />
  </wsdl:message>
  <wsdl:message name="IGPOrder_CreateOrderStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateOrderStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IGPOrder_DeleteOrderStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteOrderStatus" />
  </wsdl:message>
  <wsdl:message name="IGPOrder_DeleteOrderStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteOrderStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IGPOrder_AddDriver_InputMessage">
    <wsdl:part name="parameters" element="tns:AddDriver" />
  </wsdl:message>
  <wsdl:message name="IGPOrder_AddDriver_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddDriverResponse" />
  </wsdl:message>
  <wsdl:message name="IGPOrder_GetAllDrivers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllDrivers" />
  </wsdl:message>
  <wsdl:message name="IGPOrder_GetAllDrivers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllDriversResponse" />
  </wsdl:message>
  <wsdl:message name="IGPOrder_UpdateDriver_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDriver" />
  </wsdl:message>
  <wsdl:message name="IGPOrder_UpdateDriver_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDriverResponse" />
  </wsdl:message>
  <wsdl:message name="IGPOrder_DeleteDriver_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDriver" />
  </wsdl:message>
  <wsdl:message name="IGPOrder_DeleteDriver_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDriverResponse" />
  </wsdl:message>
  <wsdl:message name="IGPOrder_GetNewDrivers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNewDrivers" />
  </wsdl:message>
  <wsdl:message name="IGPOrder_GetNewDrivers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNewDriversResponse" />
  </wsdl:message>
  <wsdl:message name="IGPOrder_GetAllVehicles_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllVehicles" />
  </wsdl:message>
  <wsdl:message name="IGPOrder_GetAllVehicles_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllVehiclesResponse" />
  </wsdl:message>
  <wsdl:message name="IGPOrder_AddVehicle_InputMessage">
    <wsdl:part name="parameters" element="tns:AddVehicle" />
  </wsdl:message>
  <wsdl:message name="IGPOrder_AddVehicle_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddVehicleResponse" />
  </wsdl:message>
  <wsdl:message name="IGPOrder_DeleteVehicle_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteVehicle" />
  </wsdl:message>
  <wsdl:message name="IGPOrder_DeleteVehicle_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteVehicleResponse" />
  </wsdl:message>
  <wsdl:message name="IGPOrder_GetNewVehicles_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNewVehicles" />
  </wsdl:message>
  <wsdl:message name="IGPOrder_GetNewVehicles_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNewVehiclesResponse" />
  </wsdl:message>
  <wsdl:message name="IGPOrder_GetOrderStatistics_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderStatistics" />
  </wsdl:message>
  <wsdl:message name="IGPOrder_GetOrderStatistics_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderStatisticsResponse" />
  </wsdl:message>
  <wsdl:message name="IGPOrder_GetDriverStatisticsHistory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDriverStatisticsHistory" />
  </wsdl:message>
  <wsdl:message name="IGPOrder_GetDriverStatisticsHistory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDriverStatisticsHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="IGPOrder_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IGPOrder_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IGPOrder_Test_InputMessage">
    <wsdl:part name="parameters" element="tns:Test" />
  </wsdl:message>
  <wsdl:message name="IGPOrder_Test_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestResponse" />
  </wsdl:message>
  <wsdl:portType name="IGPOrder">
    <wsdl:operation name="AddOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IGPOrder/AddOrder" message="tns:IGPOrder_AddOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGPOrder/AddOrderResponse" message="tns:IGPOrder_AddOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllOrders">
      <wsdl:input wsaw:Action="http://tempuri.org/IGPOrder/GetAllOrders" message="tns:IGPOrder_GetAllOrders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGPOrder/GetAllOrdersResponse" message="tns:IGPOrder_GetAllOrders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentLocations">
      <wsdl:input wsaw:Action="http://tempuri.org/IGPOrder/GetCurrentLocations" message="tns:IGPOrder_GetCurrentLocations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGPOrder/GetCurrentLocationsResponse" message="tns:IGPOrder_GetCurrentLocations_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentLocation">
      <wsdl:input wsaw:Action="http://tempuri.org/IGPOrder/GetCurrentLocation" message="tns:IGPOrder_GetCurrentLocation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGPOrder/GetCurrentLocationResponse" message="tns:IGPOrder_GetCurrentLocation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetCurrentLocation">
      <wsdl:input wsaw:Action="http://tempuri.org/IGPOrder/SetCurrentLocation" message="tns:IGPOrder_SetCurrentLocation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGPOrder/SetCurrentLocationResponse" message="tns:IGPOrder_SetCurrentLocation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNewOrders">
      <wsdl:input wsaw:Action="http://tempuri.org/IGPOrder/GetNewOrders" message="tns:IGPOrder_GetNewOrders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGPOrder/GetNewOrdersResponse" message="tns:IGPOrder_GetNewOrders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDriverLocation">
      <wsdl:input wsaw:Action="http://tempuri.org/IGPOrder/UpdateDriverLocation" message="tns:IGPOrder_UpdateDriverLocation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGPOrder/UpdateDriverLocationResponse" message="tns:IGPOrder_UpdateDriverLocation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrderStatusesList">
      <wsdl:input wsaw:Action="http://tempuri.org/IGPOrder/GetOrderStatusesList" message="tns:IGPOrder_GetOrderStatusesList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGPOrder/GetOrderStatusesListResponse" message="tns:IGPOrder_GetOrderStatusesList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetOrderDeliveryDriverId">
      <wsdl:input wsaw:Action="http://tempuri.org/IGPOrder/SetOrderDeliveryDriverId" message="tns:IGPOrder_SetOrderDeliveryDriverId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGPOrder/SetOrderDeliveryDriverIdResponse" message="tns:IGPOrder_SetOrderDeliveryDriverId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateOrderStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IGPOrder/UpdateOrderStatus" message="tns:IGPOrder_UpdateOrderStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGPOrder/UpdateOrderStatusResponse" message="tns:IGPOrder_UpdateOrderStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentLocationsByDriverIdDate">
      <wsdl:input wsaw:Action="http://tempuri.org/IGPOrder/GetCurrentLocationsByDriverIdDate" message="tns:IGPOrder_GetCurrentLocationsByDriverIdDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGPOrder/GetCurrentLocationsByDriverIdDateResponse" message="tns:IGPOrder_GetCurrentLocationsByDriverIdDate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateOrderStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IGPOrder/CreateOrderStatus" message="tns:IGPOrder_CreateOrderStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGPOrder/CreateOrderStatusResponse" message="tns:IGPOrder_CreateOrderStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteOrderStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IGPOrder/DeleteOrderStatus" message="tns:IGPOrder_DeleteOrderStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGPOrder/DeleteOrderStatusResponse" message="tns:IGPOrder_DeleteOrderStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddDriver">
      <wsdl:input wsaw:Action="http://tempuri.org/IGPOrder/AddDriver" message="tns:IGPOrder_AddDriver_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGPOrder/AddDriverResponse" message="tns:IGPOrder_AddDriver_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllDrivers">
      <wsdl:input wsaw:Action="http://tempuri.org/IGPOrder/GetAllDrivers" message="tns:IGPOrder_GetAllDrivers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGPOrder/GetAllDriversResponse" message="tns:IGPOrder_GetAllDrivers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDriver">
      <wsdl:input wsaw:Action="http://tempuri.org/IGPOrder/UpdateDriver" message="tns:IGPOrder_UpdateDriver_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGPOrder/UpdateDriverResponse" message="tns:IGPOrder_UpdateDriver_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteDriver">
      <wsdl:input wsaw:Action="http://tempuri.org/IGPOrder/DeleteDriver" message="tns:IGPOrder_DeleteDriver_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGPOrder/DeleteDriverResponse" message="tns:IGPOrder_DeleteDriver_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNewDrivers">
      <wsdl:input wsaw:Action="http://tempuri.org/IGPOrder/GetNewDrivers" message="tns:IGPOrder_GetNewDrivers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGPOrder/GetNewDriversResponse" message="tns:IGPOrder_GetNewDrivers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllVehicles">
      <wsdl:input wsaw:Action="http://tempuri.org/IGPOrder/GetAllVehicles" message="tns:IGPOrder_GetAllVehicles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGPOrder/GetAllVehiclesResponse" message="tns:IGPOrder_GetAllVehicles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddVehicle">
      <wsdl:input wsaw:Action="http://tempuri.org/IGPOrder/AddVehicle" message="tns:IGPOrder_AddVehicle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGPOrder/AddVehicleResponse" message="tns:IGPOrder_AddVehicle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteVehicle">
      <wsdl:input wsaw:Action="http://tempuri.org/IGPOrder/DeleteVehicle" message="tns:IGPOrder_DeleteVehicle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGPOrder/DeleteVehicleResponse" message="tns:IGPOrder_DeleteVehicle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNewVehicles">
      <wsdl:input wsaw:Action="http://tempuri.org/IGPOrder/GetNewVehicles" message="tns:IGPOrder_GetNewVehicles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGPOrder/GetNewVehiclesResponse" message="tns:IGPOrder_GetNewVehicles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrderStatistics">
      <wsdl:input wsaw:Action="http://tempuri.org/IGPOrder/GetOrderStatistics" message="tns:IGPOrder_GetOrderStatistics_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGPOrder/GetOrderStatisticsResponse" message="tns:IGPOrder_GetOrderStatistics_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDriverStatisticsHistory">
      <wsdl:input wsaw:Action="http://tempuri.org/IGPOrder/GetDriverStatisticsHistory" message="tns:IGPOrder_GetDriverStatisticsHistory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGPOrder/GetDriverStatisticsHistoryResponse" message="tns:IGPOrder_GetDriverStatisticsHistory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IGPOrder/Login" message="tns:IGPOrder_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGPOrder/LoginResponse" message="tns:IGPOrder_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Test">
      <wsdl:input wsaw:Action="http://tempuri.org/IGPOrder/Test" message="tns:IGPOrder_Test_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGPOrder/TestResponse" message="tns:IGPOrder_Test_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IGPOrder" type="tns:IGPOrder">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddOrder">
      <soap:operation soapAction="http://tempuri.org/IGPOrder/AddOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllOrders">
      <soap:operation soapAction="http://tempuri.org/IGPOrder/GetAllOrders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentLocations">
      <soap:operation soapAction="http://tempuri.org/IGPOrder/GetCurrentLocations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentLocation">
      <soap:operation soapAction="http://tempuri.org/IGPOrder/GetCurrentLocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetCurrentLocation">
      <soap:operation soapAction="http://tempuri.org/IGPOrder/SetCurrentLocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNewOrders">
      <soap:operation soapAction="http://tempuri.org/IGPOrder/GetNewOrders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDriverLocation">
      <soap:operation soapAction="http://tempuri.org/IGPOrder/UpdateDriverLocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrderStatusesList">
      <soap:operation soapAction="http://tempuri.org/IGPOrder/GetOrderStatusesList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetOrderDeliveryDriverId">
      <soap:operation soapAction="http://tempuri.org/IGPOrder/SetOrderDeliveryDriverId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrderStatus">
      <soap:operation soapAction="http://tempuri.org/IGPOrder/UpdateOrderStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentLocationsByDriverIdDate">
      <soap:operation soapAction="http://tempuri.org/IGPOrder/GetCurrentLocationsByDriverIdDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateOrderStatus">
      <soap:operation soapAction="http://tempuri.org/IGPOrder/CreateOrderStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteOrderStatus">
      <soap:operation soapAction="http://tempuri.org/IGPOrder/DeleteOrderStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddDriver">
      <soap:operation soapAction="http://tempuri.org/IGPOrder/AddDriver" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllDrivers">
      <soap:operation soapAction="http://tempuri.org/IGPOrder/GetAllDrivers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDriver">
      <soap:operation soapAction="http://tempuri.org/IGPOrder/UpdateDriver" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteDriver">
      <soap:operation soapAction="http://tempuri.org/IGPOrder/DeleteDriver" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNewDrivers">
      <soap:operation soapAction="http://tempuri.org/IGPOrder/GetNewDrivers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllVehicles">
      <soap:operation soapAction="http://tempuri.org/IGPOrder/GetAllVehicles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddVehicle">
      <soap:operation soapAction="http://tempuri.org/IGPOrder/AddVehicle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteVehicle">
      <soap:operation soapAction="http://tempuri.org/IGPOrder/DeleteVehicle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNewVehicles">
      <soap:operation soapAction="http://tempuri.org/IGPOrder/GetNewVehicles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrderStatistics">
      <soap:operation soapAction="http://tempuri.org/IGPOrder/GetOrderStatistics" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDriverStatisticsHistory">
      <soap:operation soapAction="http://tempuri.org/IGPOrder/GetDriverStatisticsHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IGPOrder/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test">
      <soap:operation soapAction="http://tempuri.org/IGPOrder/Test" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GPOrder">
    <wsdl:port name="BasicHttpBinding_IGPOrder" binding="tns:BasicHttpBinding_IGPOrder">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/GPServices.OrdersService/GPOrder/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>